<% include partials/header %>
  <section>
    <h1>Create Moment</h1>

    <form id="moment-form" method="POST" action="/api/Moments">
      <fieldset>
        <label for="what">
          What ?
          <input id="what" name="what" type="text" placeholder="Beer ?">
        </label>
        <label>
          When ?
          <input id="when" name="when" type="date">
        </label>
        <input type="submit" value="Go !">
      </fieldset>
    </form>
  </section>

  <script type="text/javascript">
    document.getElementById('when').value = new Date().toJSON().slice(0, 10);
  </script>

<% include partials/footer %>
