<% include partials/header %>

<section>
  <form action="/api/members" method="post">
    <fieldset>
      <legend>Sign up form</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value=""/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value=""/>
      </div>
      <div>
        <input type="submit" value="Sign up"/>
      </div>
    </fieldset>
  </form>
</section>

<% include partials/footer %>
